apache-airflow==2.7.0
beautifulsoup4==4.11.1
dash==2.11.1
dash_bootstrap_components==1.4.2
numpy==1.25.2
pandas==2.0.3
plotly==5.15.0
plotly_express==0.4.1
prettytable==3.8.0
pyjokes==0.6.0
python-dotenv==1.0.0
pytz==2023.3
Requests==2.31.0
black
pytest
dvc==3.15.3